$space-cadet: #2d3142;
$independence: #4f5d75;
$silver: #bfc0c0;
$white: #ffffff;
$mandarin: #eb6125;

body {
	font-family: "Roboto";
	font-size: 18px;
}

a {
	color: $independence;
	text-decoration: none;

	&:hover {
		color: darken($independence, 20%);
	}
}

button,
.button {
	background: $mandarin;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 500;
	padding: 8px 26px;
	text-decoration: none;

	&:hover {
		background: darken($mandarin, 10%);
	}
}
