.login-page {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	position: relative;

	.login-form {
		background: #fff;
		border-radius: 2px;
		padding: 30px 40px;
		width: 350px;

		.heading {
			margin-bottom: 22px;
			text-align: center;
		}

		form {
			align-items: center;
			display: flex;
			flex-direction: column;
		}

		label {
			margin-bottom: 3px;
		}

		input {
			padding: 5px;

			&:focus {
				outline-color: $independence;
			}
		}

		input:focus {
			border-color: red;
		}

		.form-group {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			width: 100%;

			.labels {
				align-items: center;
				display: flex;
				justify-content: space-between;

				.forgot-password {
					font-size: 14px;
				}
			}
		}

		.button {
			margin-top: 5px;
			width: 100%;
		}

		p {
			font-size: 16px;
			margin-top: 20px;
			text-align: center;
		}
	}
}
